USE [master]
GO
/****** Object:  Database [BettingsDB]    Script Date: 09-Mar-24 10:05:34 AM ******/
CREATE DATABASE [BettingsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BettingsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER19\MSSQL\DATA\BettingsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BettingsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER19\MSSQL\DATA\BettingsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BettingsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BettingsDB]
GO
/****** Object:  Table [dbo].[Matches]    Script Date: 09-Mar-24 10:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Matches](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Description] [nvarchar](100) NOT NULL,
	[MatchDate] [date] NOT NULL,
	[MatchTime] [time](7) NOT NULL,
	[TeamA] [nvarchar](50) NOT NULL,
	[TeamB] [nvarchar](50) NOT NULL,
	[Sport] [int] NOT NULL,
 CONSTRAINT [PK_Matches] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchOdds]    Script Date: 09-Mar-24 10:05:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchOdds](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MatchId] [int] NULL,
	[Specifier] [nvarchar](20) NULL,
	[Odd] [float] NULL,
 CONSTRAINT [PK_MatchOdds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchOdds]  WITH CHECK ADD  CONSTRAINT [FK_MatchOdds_Matches] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Matches] ([ID])
GO
ALTER TABLE [dbo].[MatchOdds] CHECK CONSTRAINT [FK_MatchOdds_Matches]
GO
USE [master]
GO
